@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 100px;">@Html.DisplayNameFor(m=>m.ProductId)</th>
            <th style="width: 100px;">@Html.DisplayNameFor(m=>m.Image)</th>
            <th>@Html.DisplayNameFor(m=>m.BookName)</th>
            <th style="width: 100px;">@Html.DisplayNameFor(m=>m.PageCount)</th>
            <th style="width: 160px;">Setting</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in @Model){
            <tr>
                <td>@book.ProductId</td>
                <td><img src="~/img/@book.Image" class="img-fluid" alt=""></td>
                <td>@book.BookName</td>
                <td>@book.PageCount</td>
                <td>
                    <a href="" class="btn btn-primary">Edit</a>
                    <a href="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
