@model AppRole

<h2>Edit Role</h2>
<hr>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="Id" value="@Model.Id">
        <div class="card-body">
    <div class="mb-3">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
<table class="table table-sm table-bordered mt-4">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th style="width: 80px;">Setting</th>
        </tr>
        </thead>
        <tbody>
        @if(ViewBag.Users != null){


        @if(ViewBag.Users.Count == 0){
            <tr><td colspan="4" class="text-center">Role Yok</td></tr>
        }
        @foreach(var user in ViewBag.Users){
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                        <a class="btn btn-success" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                </td>
            </tr>
        }
}
</tbody>
</table>